$ultramarined-color: #572FCE;

@mixin logo-font-size($font-size) {
  font-size: $font-size;
  letter-spacing: $font-size / 50;
}

@mixin centered {
  @include transform(translate(-50%, -60%));
  top: 50%; left: 50%;
  position: absolute;
}

@mixin transform($func) {
  transform: $func;
  -ms-transform: $func;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}

.logo {
  text-transform: uppercase;
}

.slide {
  width: 100%;
  height: 768px; height: 100vh;
  position: relative;

  .slide-content {
    padding: 2em;
  }
}

.start-slide {
  top: 0; left: 0; bottom: auto; right: auto;

  .logo-wrapper {
    @include centered;
  }

  .logo {
    @include logo-font-size(5em);
    text-align: center;
    color: $ultramarined-color;
  }

  .soon-wrapper {
    @include transform(rotate(-8deg));
    position: absolute;
    top: 1.5em;
    left: 33%;
    border-radius: 7px;
    padding: 3px;
    background-color: #E7BD00;
    color: black;
  }

  .soon-content {
    display: block;
    border: 2px black solid;
    border-radius: 5px;
    padding: 0.5em 0.3em;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  .soon-content:before,
  .soon-content:after {
    content: "\B7"
  }
}

@media (max-width: 900px) {

  .start-slide {
    .logo {
      @include logo-font-size(2em);
    }
    .soon-wrapper {
      top: 0;
      left: 30%;
    }
    .soon-content {
      font-size: 0.7em;
    }
  }

  .slide-content {
    padding: 0.5em;
  }
}
